<div class="post-content">
    <h2>Post:</h2>
    <p>{{{post.content}}}</p>
</div>
<div class="comments">
    <h2>Comments:</h2>
    {{#each post.comments as |comment|}}
    <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        {{!-- <p>Commented by {{comments.User.name}} on {{format_date comments.createdAt}}</p> --}}
    </div>
    <hr/>
    {{/each}}
    <!-- Form to leave a comment -->
    <form class="form new-comment-form">
        <div class="form-group">
            <label for="comment-content">Your Comment:</label>
            <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </div>
    </form>
</div> 
<script src="/js/comment.js"></script>